html
  head
    title= title
  body
    h1= header
    div 
      each item, i in items  
          h3= "Full Name: " + item.fname + " " + item.lname 
          p= "Username: " + item.username
          p= "Email: " + item.email 
          hr